* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
  border: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

span {
  color: #fff;
}

hr {
  border: 1px solid #7e868e;
}

li {
  list-style: none;
}
